.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 120px;
    color: white;
    font-size: 12px;
    background-color: #0866b9;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

.bottom-tooltip-text {
    top: 25px;
    left: -35%;
}

.hover-text {
    position: relative;
}

.tooltip-word-description {
    font-family: initial;
}

.tooltip-part-of-speech {
    border: 1px solid #f2b9b9;
    padding: 1.5px;
    color: #f2b9b9;
}

.tooltip-headword {
    font-family: ycaxen_medium;
    font-size: 120%;
    letter-spacing: 0.03em;
}