.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 120px;
    color: white;
    font-size: 12px;
    background-color: #0866b9;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

.bottom-tooltip-text {
    top: 25px;
    left: -35%;
}

.hover-text {
    position: relative;
    display: inline-block;
    margin: 30px;
    font-family: Arial;
    text-align: center;
}
